name: 更新并转换规则集

on:
  schedule:
    - cron: '0 0 * * *'  # 每天UTC时间00:00运行
  workflow_dispatch:     # 允许手动触发

env:
  MIHOMO_VERSION: "v1.19.15"
  TZ: "Asia/Shanghai"

jobs:
  process-and-convert:
    runs-on: ubuntu-latest

    steps:
      - name: 检出代码
        uses: actions/checkout@v4

      - name: 创建目录结构
        run: |
          mkdir -p {hosts,yaml,mrs,logs}

      - name: 下载hosts源文件
        run: |
          curl -fLsS -o hosts/10
